$primary: rgba(126,192,238,1);

$sm: 640px; // mobile and low-res tablets
$md: 768px; // hi-res tablets and low-res laptops
$lg: 1024px; // 1080 and hi-res laptops
$xl: 1280px; // 4k and hi-res desktop