@import './Components/variables';
@import './Components/responsive';


body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    display: grid;
    place-items: center;
    background-image: url('/assets/bg-sm.jpg');

    @include responsive($lg){
        background-image: url('/assets/BG-lg.jpg');

    }

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 7em;

        
        nav{
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                max-width: 10em;
            }
        }
        section{
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 3px;
            a{
                // opacity: 0;
                transform: translatey(100px);
                color: black;
                text-decoration: none;
                display: flex;
                gap: 2px;
                border-radius: 5px;
                background-color: $primary;
                backdrop-filter: blur(2px);

                &:first-child{
                    border-radius: 10px 10px 5px 5px;
                }
                &:last-child{
                    border-radius: 5px 5px 10px 10px;
                }
                div{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 18em;
                    @include responsive-max(280px){
                        width: 13em;
                    }
                    
                    &:nth-child(1){
                        width: 3em;
                        img{
                            max-width: 3em;
                            max-height: 2em;
                        }
                    }
                }
                ::before{
                    content: '';
                    opacity: 1;
                }
                &::after{
                    content: '';
                    opacity: 0;
                }
            }
        }
    }
}


@for $i from 1 through 3{
    section a:nth-child(#{$i}) {
        transition: transform .9s;
        transition-delay: ($i * .1s) + .10s;
    }
}